{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Simple login form</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/playlist.css' %}">
    <script src="https://code.jquery.com/jquery-latest.js"></script>
  </head>
  <body>
    <header class="showcase">  
        <div class="showcase-top">  
             <img src="https://i.ibb.co/r5krrdz/logo.png" alt="" />
             {% if status %} 
             <a href="/logout" class="btn btn-rounded">Sign out</a>
             {% endif %}  
             <a href="/" class="btn btn-rounded playlist">Home</a>  
        </div> 
    </header>
    <div class="wrapper">
      {% for i in movies %}
          <div class="movie-card">
            <div class="movie-img">
              <img src="{{i.img}}">
            </div>
            <div class="card-body">
              <p class="movie-title">{{i.title}}</p>
              <p class="movie-intro">IMDB ID :{{i.imdb}}</p>
              {% if status %}
              <button onclick="myfunc('{{i.imdb}}','{{playlist}}')">Remove</button>
              {% endif %}
            </div>
          </div>
          {% endfor %}
   </div>  
    <footer class="footer">  
      <p>Questions? Call 1-866-579-7172</p>  
      <div class="footer-cols">  
           <ul>  
                <li><a href="#">FAQ</a></li>  
                <li><a href="#">Investor Relations</a></li>  
                <li><a href="#">Ways To Watch</a></li>  
                <li><a href="#">Corporate Information</a></li>  
                <li><a href="#">Netflix Originals</a></li>  
           </ul>  
           <ul>  
                <li><a href="#">Help Center</a></li>  
                <li><a href="#">Jobs</a></li>  
                <li><a href="#">Terms Of Use</a></li>  
                <li><a href="#">Contact Us</a></li>  
           </ul>  
           <ul>  
                <li><a href="#">Account</a></li>  
                <li><a href="#">Redeem Gift Cards</a></li>  
                <li><a href="#">Privacy</a></li>  
                <li><a href="#">Speed Test</a></li>  
           </ul>  
           <ul>  
                <li><a href="#">Media Center</a></li>  
                <li><a href="#">Buy Gift Cards</a></li>  
                <li><a href="#">Cookie Preferences</a></li>  
                <li><a href="#">Legal Notices</a></li>  
           </ul>  
      </div>  
    </footer>  
  </body>
</html>
<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script> 

<script type="text/javascript">
   function myfunc(imdb,playlist){
      $.ajax({
        url:"{% url 'myapp:remove' %}",
        dataType:'json',
        data:{"imdb":imdb,"playlist":playlist},
        success: function(data){
          if(data.status){
            alert("Removed successfully");
            location.reload();
          }
        },
      })
    }
</script>
